.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    padding-top: 30vh;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}