{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'raffle_site/style.css' %}" />
    <title>Raffle Rofl</title>
</head>

<body>
    <div class="title_div">
        <h1></h1>
    </div>
    <div class="home_page_button_div">
        <div class="button_div">
            <button onclick="">Host a Raffle</button>
        </div>
        <div class="button_div">
            <button>Join a Raffle</button>
        </div>
    </div>
</body>
</html>